nav {
    margin: 10px;
    padding: 5px;
    background: #452d26;
    a {
        margin: 10px;
        padding: 5px;
        background: #48725c;
        color: #e6fee7;
        text-decoration: none;
    }
}



.active {
    background: #274232
}